*{
    font-family: sans-serif;
}
html {
    min-width: 200px;
}

@font-face {
    font-family: "Piston Pressure";
    src: url("./fonts/Piston_Pressure.otf")
}


.nav-main {
    width:100%;
    background-color: rgb(122, 122, 122);
    padding-left: 2em;
    color:white;
    overflow: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.125em;
}
.nav-main a:visited{
    color:white;
}
.nav-main .nav-main__logo-text, 
.nav-main .nav-main__nav-links{
    float: none;
    margin-top:0;
    margin-bottom: 0;
}

.nav-main .nav-main__nav-links::after {
    content:none;
    clear: none;
    display: none;
}

body > main {
    height: calc(100vh - 3.125em);
    overflow:auto;

}
body > main > section.jumbotron {
    height: 20em;
    padding:0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
body > main > section.jumbotron h2.jumbotron__text {
 padding:0;
 margin:0;
 color: rgb(223,224,95);
 font-size: 6em;
 font-weight: normal;
 font-family: 'Piston Pressure','Courier New', Courier, monospace;
 text-align: center;
}

.content-container{
    padding:3em;
}
.box {
    display: inline-block;
    width: 12em;
    height: 12em;
    background-color: rgb(164, 255, 215);
}